.github/
.venv/
.idea/
.run/
.unittest/
__pycache__/
__tmp__/
Portable-Client-VolumLib/
Portable-Server-VolumLib/
dist/
data/
.~vsdx
.spec
*.inp
.db
.db-journal
.lmdb
.json
log.txt
.exe
.log
.apk
VolumLib/
